<div id="DiscountsBody">
<div id="Discounts"  >
    <table class="table">
    <thead>
      <tr>
        <th style="position:relative;left:2.5em;">Cupon</th>
        <th style="position:relative;left:2em;">New Rate</th>
        <th style="position:relative;left:1.5em;">Current Rate</th>
      </tr>
    </thead>
    <tbody id="DiscountTableBody" style="padding:10px;border:1px solid black;">
      <!-- Data will be inserted here -->
    </tbody>
  </table>
  <div id='warnDiscountchange'>
    <div class="alert alert-danger" role="alert" style="color:black;font-weight:500;text-align:center;">
               The Discount rates will be changed on confirmation.
    </div>


</div>
</div>
</div>