setuptools>=42
wheel
Flask
supabase
boto3
flask_sqlalchemy
gunicorn
pyrebase4  # Use the appropriate version of Pyrebase
pytz==2022.5
flask-cors # Use the appropriate version of Flask-CORS
requests
Pillow
flask_session
dotenv

